{{#has tag="video,#video"}}
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-10 flex items-center justify-center text-white rounded-full bg-radial from-black/10 via-transparent via-75% group-hover:from-black/15 transition-colors {{wrapper_class}}" data-post-card-type="{{#has tag="video,#video"}}video{{/has}}">
    
    <span class="{{item_class}}" data-post-card-icon="video">
      {{> icon name="play" icon_class="size-5 fill-current stroke-0"}}
    </span>
  </div>
{{/has}}