{{!< default}}

{{!-- Hero --}}
{{#page}}
  {{> page-hero}}
{{/page}}

<section class="px-5 sm:px-6" data-writers>
  <div class="max-w-site mx-auto border-t-3 border-b border-brd-soft py-6 flex flex-col gap-6">
    {{#match page.authors.length ">" 1}}
      {{#foreach page.authors }}
        {{> author-card-w-posts
          posts_limit=3
        }}
      {{/foreach}}
    {{else}}
      {{#get "authors" limit="30" include="count.posts" order="count.posts desc"}}
        {{#foreach authors }}
          {{> author-card-w-posts
            posts_limit=3
          }}
        {{/foreach}}
      {{/get}}
    {{/match}}
  </div>
</section>
