{{!< default}}

{{#post}}
  {{#match @custom.default_post_layout "with-regular-image"}}
    {{> post-hero
      type="regular-image"
      media_class="max-w-content"
    }}
  {{/match}}
  {{#match @custom.default_post_layout "with-wide-image"}}
    {{> post-hero
      type="wide-image"
      media_class="max-w-wide"
    }}
  {{/match}}
  {{#match @custom.default_post_layout "with-fullwidth-image"}}
    {{> post-hero
      type="fullwidth-image"
      wrapper_class="flex-col-reverse pb-4"
      content_class="relative z-10 md:pt-8 pb-6 border-b border-brd-soft md:-mt-18 md:bg-bgr md:before:absolute md:before:w-[calc(100%_+_5rem)] md:before:h-full md:before:-left-10 md:before:top-0 md:before:bg-bgr md:before:-z-1"
      media_class="max-w-site"
      image_sizes="(max-width: 1023px) 90vw, 1200px"
    }}
  {{/match}}
  {{#match @custom.default_post_layout "with-no-image"}}
    {{> post-hero
      type="no-image"
      media_class="hidden"
    }}
  {{/match}}
  {{#match @custom.default_post_layout "with-sidebar"}}
    <section class="lg:px-6 lg:[&_section]:px-0! lg:[&_[data-post-info]]:px-0! lg:[&_article]:[--gap:0]!" style="--container-content: 760px;" data-post-with-sidebar>
      <div class="max-w-site mx-auto flex flex-col gap-6 lg:flex-row">
        <div class="flex-2">
          {{> post-hero
            type="with-sidebar"
          }}

          <article class="ghost-content prose prose-lg prose-theme"{{#unless access}} data-preview{{/unless}}>
            {{content}}
          </article>

          {{> author-box}}

          {{> post-tags}}

          {{> comments
            wrapper_class="mb-0!"
          }}
        </div>
        
        {{> post-sidebar}}
      </div>
    </section>
  {{/match}}

  {{#match @custom.default_post_layout "!=" "with-sidebar"}}
    <article class="ghost-content prose prose-lg prose-theme"{{#unless access}} data-preview{{/unless}}>
      {{content}}
    </article>

    {{> author-box}}

    {{> post-tags}}

    {{> comments}}
  {{/match}}

  {{> related-tag}}

  {{> related-author}}

  {{> sections/sponsored}}
{{/post}}
