{{#unless @member.paid}}
  {{#get "pages" filter="slug:banner-footer" limit="1" as |banner|}}
    {{#foreach banner}}
      <section class="px-5 sm:px-6 mt-10" data-banner="footer">
        <div class="max-w-site mx-auto">
          {{content}}
        </div>  
      </section>
    {{/foreach}}
  {{/get}}
{{/unless}}