<div class="max-w-site mx-auto flex flex-col gap-5 md:flex-row">
  {{#foreach posts from="1" to="1"}}
    {{> cards/post-card-fullwidth 
      card_class="flex-3 md:pr-5 md:border-r md:border-brd-soft [&_h1]:text-3xl"
      content_class="lg:py-0 lg:pr-0 lg:pl-6 lg:ml-0 self-start flex-2"
      media_class="flex-3"
      image_loading="eager"
    }}
  {{/foreach}}

  {{#foreach posts from="2" to="2"}}
    {{> cards/post-card-vertical
      card_class="flex-1 [&_p]:hidden"
      title_class="lg:text-2xl"
      image_loading="eager"
      use_h2=true
    }}
  {{/foreach}}
</div>