
{{#get "posts" filter="{{posts_filter}}" include="tags,authors,tiers" limit="6"}}
  {{#if posts}}
    <section class="px-5 sm:px-6 mt-6" data-hero-posts="{{posts.length}}" data-hero-layout="{{@custom.hero_posts_layout}}">
      {{!-- Flexible layout based on number of posts (up to 6) --}}
      {{#match @custom.hero_posts_layout "dynamic"}}
        {{!-- 1 Post --}}
        {{#match posts.length 1}}
          {{> sections/1-post}}
        {{/match}}

        {{!-- 2 Posts --}}
        {{#match posts.length 2}}
          {{> sections/2-posts}}
        {{/match}}

        {{!-- 3 Posts --}}
        {{#match posts.length 3}}
          {{> sections/3-posts}}  
        {{/match}}

        {{!-- 4 Posts --}}
        {{#match posts.length 4}}
          {{> sections/4-posts}}
        {{/match}}

        {{!-- 5 Posts --}}
        {{#match posts.length 5}}
          {{> sections/5-posts}}
        {{/match}}
        
        {{!-- 6 Posts --}}
        {{#match posts.length 6}}
          {{> sections/6-posts}}
        {{/match}}
      {{/match}}

      {{!-- Fixed layout: 1 Post --}}
      {{#match @custom.hero_posts_layout "1-post"}}
        {{> sections/1-post}}
      {{/match}}

      {{!-- Fixed layout: 2 Posts --}}
      {{#match @custom.hero_posts_layout "2-posts"}}
        {{> sections/2-posts}}
      {{/match}}

      {{!-- Fixed layout: 3 Posts --}}
      {{#match @custom.hero_posts_layout "3-posts"}}
        {{> sections/3-posts}}
      {{/match}}

      {{!-- Fixed layout: 4 Posts --}}
      {{#match @custom.hero_posts_layout "4-posts"}}
        {{> sections/4-posts}}
      {{/match}}

      {{!-- Fixed layout: 5 Posts --}}
      {{#match @custom.hero_posts_layout "5-posts"}}
        {{> sections/5-posts}}
      {{/match}}

      {{!-- Fixed layout: 6 Posts --}}
      {{#match @custom.hero_posts_layout "6-posts"}}
        {{> sections/6-posts}}
      {{/match}}
    </section>
  {{/if}}
{{/get}}